import("stats")
import("utils")
import("runjags")
import("rjags")
import("edgeR")
export(readDeepn, import, importFromDeepn, applyFilter, overdisp, runMCMC, psm,
       analyzeDeepn, msdPlot, mcvPlot, msfPlot, chooseFilter)
S3method(summary, psm.deepn)
